body 
{
	background-image: url("Images/storyofstars.jpg");
}

a
{
	text-decoration: none;
	color: blue;
}

#container 
{
	background-color: #9BC3D3;
	width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

#header 
{
	background-color: #004798;
	Color: White;
	text-align: center;
	padding: 10px;
}

h1
{
	margin: 0;
}

#content 
{
	padding: 15px;
}

#nav 
{
	width: 200px;
	float: left;
}

#nav .selected 
{
	font-weight:bold;
}

#nav ol
{
	list-style-type: none;
	padding: 0;
}

#main 
{
	width: 1200px;
	float: right;
}

#footer 
{
	clear: both; 
	padding: 10px;
	background-color: #455359;
	color: white;
	text-align: right;
}

/* PIC SLIDESHOW */
{box-sizing:border-box}

/* slideshow container */
.slideshow-container
{
	max-width: 1000px;
	position: left;
	margin: left;
}

.mySlides
{
	display:none;
}

/* Next & Previous Buttons */
.prev , .next
{
	cursor: pointer;
	position: middle;
	top: 50%;
	width: auto;
	/*margin-top: 1050px;*/
	padding: 10px;
	color: black;
	font-weight: bold;
	font-size:18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position "next button" to the right */
.next 
{
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* on hover, add a black bg color with see through */
.prev:hover, .next:hover
{
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.textslide
{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: middle;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* number text */
.numbertext
{
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	positioin: center;
	top: 0;
}

.dot
{
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active ,dot:hover
{
	background-color: #717171;
}

/* fading animation */
.fade
{
	-webkit-animation-name: fade;
	-wedkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade
{
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade 
{
	from {opacity: .4}
	to {opacity: 1}
}
/* End PIC SLIDESHOW */